{% extends "base.html" %}

{% block pre_content %}
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">← Back</a>
    </nav>
{% endblock %}


{% block content %}
    <br/>

    <div class="row">
        <div class="col-xl-6 col-12">
            <h1>New delivery</h1>
            Please specify the delivered amounts:

            <form action="{% url 'delivery' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input  class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
{% endblock %}
